<header class="shifted-content app-bar bg-steel fg-white" data-role="appbar" data-expand-point="md">
  <ul class="app-bar-menu">
    <li>
      <a href="#" class="dropdown-toggle">Fichier</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a href=""><span class="mif-insert-drive-file icon"></span> Nouveau</a></li>
        <li><a href=""><span class="mif-folder-open icon"></span> Ouvrir</a></li>
        <li><a href=""><span class="mif-floppy-disk icon"></span> Enregistrer</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a href=""><span class="mif-file-upload icon"></span> Importer</a></li>
        <li><a href=""><span class="mif-file-download icon"></span> Exporter</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a href=""><span class="mif-cog icon"></span> Paramètres</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a href=""><span class="mif-cancel icon"></span> Quitter</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="dropdown-toggle">Édition</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a href=""><span class="mif-undo icon"></span> Annuler</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a (click)="onInvertStrategy()"><img class="icon" src="assets/images/navbar/invert.png"/> Inverser la stratégie</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="dropdown-toggle">Aide</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a href=""><span class="mif-question icon"></span> Aide</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a href="https://github.com/Eclatech-Noobot/EditeurStrategie/issues" target="_blank"><span class="mif-bug icon"></span> Signaler un bug</a></li>
        <li><a (click)="openAboutDialog()"><span class="mif-info icon"></span> A propos</a></li>
      </ul>
    </li>
  </ul>
  <!--<ul class="app-bar-menu ml-auto">
    <li><a href="home">Home</a></li>


    <li>
      <a href="#" class="dropdown-toggle">More</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a href="">Dropdown link 1</a></li>
        <li><a href="">Dropdown link 2</a></li>
      </ul>
    </li>

    <li>
      <a href="https://github.com/morrisjdev/ng-metro4" target="_blank">
        <span class="mif-github mif-2x d-none d-block-md"></span>
        <span class="d-block d-none-md">Github</span>
      </a>
    </li>
  </ul>-->
</header>
