<navbar class="shifted-content"></navbar>

<sidebar></sidebar>

<div class="shifted-content container-fluid">

  <div class="grid" class="dev">
    <div class = "row">
      <div class="cell-10 offset-1">
        <div m4-draggable><img src="assets/images/Robot.png"></div>
        <img src="assets/images/Tapis_de_jeu.png">
      </div>
    </div>
    <div class="row">
      <div class="cell-10 offset-1">
        <div data-role="stepper" data-steps="5" data-step="3" width="100%"></div>
      </div>
    </div>
      <!--<div class="cell-4">
        <m4-panel>
          <div class="grid">
            <div class="row">
              <div class="cell-4">
                <m4-input prepend="X"></m4-input>
              </div>
              <div class="cell-4">
                <m4-input prepend="Y"></m4-input>
              </div>
              <div class="cell-4">
                <m4-input prepend="Angle"></m4-input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="cell-6">
                <m4-input prepend="Delta angle"></m4-input>
              </div>
              <div class="cell-6">
                <m4-input  prepend="Delta déplacement"></m4-input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="cell-12">
                <m4-input prepend="Vitesse maximum"></m4-input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="cell-6">
                <m4-checkbox caption="Attente Action" caption-position="left"></m4-checkbox>
              </div>
              <div class="cell-6">
                <m4-input prepend="Timeout"></m4-input>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="cell-12">
                <m4-select prepend="Fichier action">
                  <optgroup label="Stepper">
                    <option value="Monter Ascenseur" selected="selected">Monter Ascenseur</option>
                    <option value="Descendre Ascenseur">Descendre Ascenseur</option>
                  </optgroup>
                  <optgroup label="Servos">
                    <option value="mini">Mini</option>
                    <option value="site">Site</option>
                    <option value="portal">Portal</option>
                  </optgroup>
                  <optgroup label="Divers">
                    <option value="Front Flip">Front Flip</option>
                    <option value="Back Flip">Back Flip</option>
                  </optgroup>
                </m4-select>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="cell-12">
                <m4-textarea placeholder="Commentaire"></m4-textarea>
              </div>
            </div>

          </div>
        </m4-panel>
      </div>-->
  </div>
</div>
