<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       id="sb4"
       data-shift=".shifted-content"
       data-static-shift=".shifted-content"
       data-static="md">
  <div class="sidebar-header bg-steel">
    <div class="title d-block brand fg-white no-hover">
      <span class="border bd-white border-radius p-2">Editeur de Strategie</span>
    </div>
  </div>

  <ul class="sidebar-menu">
    <li>
      <m4-select prepend="Liste des positions">
          <option value="1">1</option>
      </m4-select>
    </li>
    <div class="grid">
      <div class="row">
        <div class="cell">
          <button m4-button special-btn="image">
            <span class="mif-add icon"></span>
            <span class="caption">Ajouter</span>
          </button>
        </div>
        <div class="cell">
          <button m4-button special-btn="image" class="icon-right">
            <span class="mif-minus icon"></span>
            <span class="caption">Supprimer</span>
          </button>
        </div>
      </div>
    </div>
    <li>
      <m4-input prepend="X"></m4-input>
    </li>

    <li>
      <m4-input  prepend="Y"></m4-input>
    </li>

    <li>
      <m4-input  prepend="Angle"></m4-input>
    </li>

    <li>
      <m4-input prepend="Delta angle"></m4-input>
    </li>

    <li>
      <m4-input  prepend="Delta déplacement"></m4-input>
    </li>

    <li>
      <m4-input prepend="Vitesse maximum"></m4-input>
    </li>

    <li>
      <m4-checkbox caption="Attente Action" caption-position="left"></m4-checkbox>
    </li>

    <li>
      <m4-input prepend="Timeout"></m4-input>
    </li>

    <li>
      <m4-select prepend="Fichier action">
        <optgroup label="Stepper">
          <option value="Monter Ascenseur" selected="selected">Monter Ascenseur</option>
          <option value="Descendre Ascenseur">Descendre Ascenseur</option>
        </optgroup>
        <optgroup label="Servos">
          <option value="mini">Mini</option>
          <option value="site">Site</option>
          <option value="portal">Portal</option>
        </optgroup>
        <optgroup label="Divers">
          <option value="Front Flip">Front Flip</option>
          <option value="Back Flip">Back Flip</option>
        </optgroup>
      </m4-select>
    </li>

    <li>
      <m4-textarea placeholder="Commentaire"></m4-textarea>
    </li>
  </ul>

</aside>
