<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       id="sb4"
       data-shift=".shifted-content"
       data-static-shift=".shifted-content"
       data-static="md">
  <div class="sidebar-header bg-steel">
    <div class="title d-block brand fg-white no-hover">
      <span class="border bd-white border-radius p-2">Editeur de Strategie</span>
    </div>
  </div>

  <div class="sidebar-menu">
    <p>Liste des positions</p>
    <select data-role="select">
        <option value="1">1</option>
    </select>
  </div>

</aside>
