<div class="grid dev">
  <!--<div class="row">
    <div class="cell-10 offset-1">
      <div m4-draggable><img src="assets/images/Robot.png"></div>
      <img src="assets/images/Tapis_de_jeu.png">
    </div>
  </div>
  <div class="row">
    <div class="cell-10 offset-1">
      <div data-role="stepper" data-steps="5" data-step="3"></div>
    </div>
  </div>-->
  <div class="card" style="height: calc(100vh - 130px) !important;">
    <div class="card-content p-2">
      <div m4-draggable><img src="assets/images/Robot.png"></div>
      <img src="assets/images/Tapis_de_jeu.png">
    </div>
    <div class="card-footer">
      <div data-role="stepper" data-steps="5" data-step="3" style="width: 100%"></div>
    </div>
  </div>
</div>
